<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>fullPage.js A simple Demo</title>
  <meta name="author" content="Alvaro Trigo Lopez" />
  <meta name="description" content="fullPage very simple demo." />
  <meta name="keywords"  content="fullpage,jquery,demo,simple" />
  <meta name="Resource-type" content="Document" />

  <link rel="stylesheet" type="text/css" href="{% static 'fullpage/fullpage.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'fullpage/examples.css'%}" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.myVideo{
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/
        background-image: /* our video */;
        background-position: center center;
        background-size: contain;
        object-fit: cover; /*cover video background */
        z-index:3;
    }
</style>


</head>
<body>

<ul class='w3-center' id="menu">
    <li data-menuanchor="firstPage"><a href="#firstPage">Homework</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">Travel</a></li>
    <li data-menuanchor="3rdPage"><a href="#3rdPage">Cardio</a></li>
    <li data-menuanchor="4thpage"><a href="#4thpage">Mobility</a></li>
</ul>

<div id="fullpage">



  <div class="section active" id="section0">



    <h2 style="font-size: 80px">Homework</h2>
    <p>The w3-small class creates a small table:</p>

    </br>
    </br>
    </br>
    </br>

    <table style="margin: auto; width:60%" class="w3-table-all w3-xxlarge">
     <tr>
       <th>Workout Number</th>
       <th class="w3-right-align">Complete?</th>
     </tr>
     {% for i in program_length %}
     <tr>
       <td><a href="{% url 'trainer_app:view_workout' %}?workout_number={{i}}">{{i}}</a></td>
       <td class="w3-right-align">
         {% if i in workouts_completed %}
           <span style='color: green;font-size:30px;'>
       &#10004;</span>
         {% endif %}
       </td>
     </tr>
     {% endfor %}
    </table>

  </div>









  <div class="section" id="section1">

      <div class="slide ">
        <div class="section">
            <video class="myVideo" loop muted data-autoplay>
                 <source src="{{ MEDIA_URL }}face pulls.mp4" type="video/mp4">
                 <source src="{{ MEDIA_URL }}{{e.exercise.image}}" type="video/mp4">
            </video>
        </div>
      </div>
      
        <div class="slide fp-slide">
          <div class="section">
                <video class="myVideo" loop muted data-autoplay>
                 <source src="{{ MEDIA_URL }}face pulls.mp4" type="video/mp4">
                 <source src="{{ MEDIA_URL }}{{e.exercise.image}}" type="video/mp4">
                </video>
        </div>
      </div>
      
      <div class="slide active">
        <div class="section">
                <video class="myVideo" loop muted data-autoplay>
                 <source src="{{ MEDIA_URL }}face pulls.mp4" type="video/mp4">
                 <source src="{{ MEDIA_URL }}{{e.exercise.image}}" type="video/mp4">
                </video>
        </div>
      </div>
      
      <div class="slide">
        <div class="section">
                <video class="myVideo" loop muted data-autoplay>
                 <source src="{{ MEDIA_URL }}face pulls.mp4" type="video/mp4">
                 <source src="{{ MEDIA_URL }}{{e.exercise.image}}" type="video/mp4">
                </video>
        </div>
      </div>
      
      <div class="slide"><h1>And more text</h1></div>
  </div>
  <div class="section" id="section2"><h1>No wraps, no extra markup</h1></div>
  <div class="section" id="section3"><h1>Just the simplest demo ever</h1></div>
</div>

<script type="text/javascript" src="{% static 'fullpage/fullpage.extensions.min.js'%}"></script>

<!--<script type="text/javascript" src="../dist/fullpage.js"></script> -->
<script type="text/javascript">
  var myFullpage = new fullpage('#fullpage', {
    licenseKey: '93EEA4A0-4FD14E17-83BCED90-BB1521A4',
    sectionsColor: ['rgb(243,243,243)', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
    menu: '#menu',
    anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage'],
    continuousHorizontal: true,
    continuousHorizontalKey: 'YWx2YXJvdHJpZ28uY29tX00zVVkyOXVkR2x1ZFc5MWMwaHZjbWw2YjI1MFlXdz12Nk0=',
    slidesNavigation: true,
    ///afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){console.log("slideLoad--" + "anchorLink: " + anchorLink + " index: " + index + " slideAnchor: " + slideAnchor + " slideIndex: " + slideIndex);
    ///},
    ///onSlideLeave: function(anchorLink, index, slideIndex, direction){ console.log("----------------");console.log("onSlideLeave--" + "anchorLink: " + anchorLink + " index: " + index + " slideIndex: " + slideIndex + " direction: " + direction);
    ///},    
  });
</script>
</body>
</html>