<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://fonts.googleapis.com/css?family=Dosis:800|Luckiest+Guy|Permanent+Marker&display=swap" rel="stylesheet">

  </head>

  <body class='w3-dark-grey w3-margin' style='background-image: url("/static/images/gym_background2.jpg"); background-size: cover; padding:30% 0'>

  <div class="thing w3-center w3-panel w3-padding" >
      <p class='heading'>Next Workout</p>
      {% if ready %}
      <p>Status: Available </p>
       <p><a href="{% url 'trainer_app:current_workout'%}">Click to View.</a></p>
      {% else %}
      <p>Status: Not Available </p>
      <p>  Try again your next gym session. </p>
      {% endif %}


  </div>

    <div class="thing w3-center w3-panel w3-padding">
      <p class='heading'>Last Workout</p>
      <p><a class="disabled" href="{% url 'trainer_app:last_workout'%}">Click to View.</a></p>

  </div>


<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/trainer-ajax.js' %}" crossorigin="anonymous"></script>

  </body>
</html>