/*
a.disabled {
  pointer-events: none;
  cursor: default;
}
*/



h3 {
  color: coral;
  font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin: 10px;
}

.heading{
  color: coral;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}


.thing{
  margin-top: 35px;
  margin-bottom: -15px;
  margin-right: 20px;
  margin-left: 20px;
  background: #242627;
}

.complete{
	margin-top: 35px;
}


#top, #bottom, #left, #right {
	background: #242627;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 18px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 18px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }